<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<!--/*@thymesVar id="person" type="com.model.Person"*/-->
<div>
    <div class="container">
        <h1>
            Welcome <th:block th:text="*{person.getName()}"}></th:block>
        </h1>
        <p>

        </p>
        </br>
        <a href="/logout">Click to Logout</a>
        <a href="/profile/profile_update">Update profile</a>
        <a href="/profile/profile_competence">Update competence</a>
        länk till ansökan
    </div>
</div>
</body>