<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<!--/*@thymesVar id="person" type="com.model.Person"*/-->
<div>
    <div class="container">
        <h1>
            Welcome <th:block th:text="*{person.getName()}"}></th:block>
        </h1>
        <p>
            </br>
            <a href="/logout">
                <th:block th:text="#{profile.logout}"/>
            </a>
            </br>

            <a href="/profile/profile_update">
                <th:block th:text="#{profile.updateProfile}"/>
            </a>
            </br>

            <a href="/profile/profile_competence">
                <th:block th:text="#{profile.updateCompetence}"/>
            </a>
            </br>

            <a href="/application/application">
                <th:block th:text="#{profile.application}"/>
            </a>
            </br>
        </p>
    </div>
</div>
</body>