<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>First report test</title>
</head>
<body>
<div>
    <h2>Result page for the first report</h2>
    <table class = "table table-striped">
        <tr>
            <th> People </th>
        </tr>
        <tr th:each="person : ${people}">
            <td th:text="'ID: ' + ${person.getId()}"></td>
            <td th:text="'Name: ' + ${person.getName()}" />
            <td th:text="'Surname: ' + ${person.getSurName()}" />
            <td th:text="'SSN: ' + ${person.getSsn()}" />
            <td th:text="'Email: ' + ${person.getEmail()}" />
            <td th:text="'Password: ' + ${person.getPassword()}" />
            <td th:text="'Role ID: ' + ${person.getRoleName()}" />
            <!--/*@thymesVar id="getUserName" type=""*/-->
            <td th:text="'Username: ' + ${person.getUserName()}" />
        </tr>
    </table>
</div>

</body>
</html>